@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-display: block;
  src: url("/material-symbols-rounded.woff2") format("woff2");
}


* {
  border-width: 0px;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

@layer base {
  * {
    font-family: "Lato", sans-serif;
  }
}